
.container-fluid img{
    height: 25px;
 
    width: 108px;
   
}
li.nav-item:hover {
    border-bottom: 3px;
}
.footer ul{
    list-style-type: none;
}
.footer ul li a{
    text-decoration: none;
    color: black;
}
.top-navbar .nav-link {
    margin-left: 8px;
}
.navbar-nav span{
    margin-top: 10px;
}
.ms-info .card {
    border: none;
    border-radius: none;
}
.main-pics .card {
    border: none;
    border-radius: none;
}
.top-navbar .nav-link:focus, .nav-link:hover {
   text-decoration-line: underline;
}
.card-body a{
    color: #0067b8;
    font-weight: 700;
    text-decoration: none;

}
.card-body a:hover{
    text-decoration-line: underline;
}
.dropdown-menu {
    border:none;
    
}
ul.dropdown-menu {
    width:900px;
    background-color:rgb(247, 245, 245);
}
li.parent-ul{
    
    display: flex;
}
li.parent-ul h2{
    margin-top: 12px;
    font-weight: 700;
    font-size: 13px;
}
li.parent-ul ul{
    margin: 0px 15px;
    list-style-type: none;
  
}
li.parent-ul ul li{
    padding: 2px;
}
li.parent-ul ul li a{
    text-decoration: none;
    color: black;
    font-size: 10px;
    
}
li.parent-ul ul li a:hover{
    text-decoration-line: underline;
}
.social-icons{
    position: relative;
}
.social-icons h3{
    font-weight: 400;
    font-size: 15px;
}
.icons{
    position: absolute;
    left: 190px;
    bottom:33px;     
    
}
.icons ul{
    display: flex;
    
    list-style-type: none;
}
.icons ul li {
    margin: 0px 3px;
}
.icons ul li a{
    
    text-decoration: none;
    color: black;
    font-size: 20px;
    padding: 4px;
    border-radius: 25%;
   

    
}
.icons ul li a:hover{
    background-color: black;
    color: white;
}
.footer-end h3{
    font-size: 15px;
}
.footer{
    --bs-bg-opacity: 1;
    background-color:rgba(239, 239, 240, .4)!important;
}
.bg-body-tertiary {
    --bs-bg-opacity: 1;
    background-color:rgba(239, 239, 240, .4)!important;
}
li.nav-item{
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0px 0px 0px 15px;
    font-size: 12px;

}
.navbar-nav span{
    padding: 0px -40px;
    margin-bottom: 10px;
}
ul.footer-icon{
    display: flex;
    align-items: center;
}
ul.footer-icon li{
    margin: 14px;
    font-size: 10px;
}
.footer-last{
    
}
.footer-last ul{
    display: flex;
}
.footer-last ul li{
    margin: 0px 12px;
}
.right-footer ul{
    display: flex;
    justify-content: right;
    margin: 0px 20px;
    
}

.right-footer li{
    font-size: 14px;
    margin-left: 18px;
    list-style-type: none;
}
.right-footer li a{
    text-decoration: none;
    color: black;
}
.carousel-indicators {
   
    bottom: -56px;
    
}
.carousel-indicators [data-bs-target] {
    background-color:black;    
}

.carousel-indicators [data-bs-target]{
    padding:8px 0px;
    border-radius: 50%;

}
.carousel-indicators .active {
    opacity: 1;
    background-color: black;
}
.carousel-control-prev-icon {
    background-image: url("../images/left-arrow.png");
    
}
.carousel-control-next-icon {
    background-image: url("../images/right-arrow\ \(1\).png");
    
}
.image-section{
    position: relative;
}
.carousel-control-next-icon, .carousel-control-prev-icon {
    position: absolute;
    bottom:-38px;
   
}

@media screen and (max-width:575.98px) {
    
ul.dropdown-menu {
    width:100px;
    background-color:rgb(247, 245, 245);
}

li.parent-ul{
    
    display: block;
}
}
@media screen and (max-width:767.98px) {

    
ul.dropdown-menu {
    width:100px;
    background-color:rgb(247, 245, 245);
}

li.parent-ul{
    
    display: block;
}
}