
.container-fluid img{
    height: 25px;
 
    width: 108px;
   
}
li.nav-item:hover {
    border-bottom: 3px;
}
.footer ul{
    list-style-type: none;
}
.footer ul li a{
    text-decoration: none;
    color: black;
}
.top-navbar .nav-link {
    margin-left: 8px;
}
.navbar-nav span{
    margin-top: 10px;
}
.ms-info .card {
    border: none;
    border-radius: none;
}
.main-pics .card {
    border: none;
    border-radius: none;
}
.top-navbar .nav-link:focus, .nav-link:hover {
   text-decoration-line: underline;
}
.card-body a{
    color: #0067b8;
    font-weight: 700;
    text-decoration: none;

}
.card-body a:hover{
    text-decoration-line: underline;
}
.dropdown-menu {
    border:none;
    
}
ul.dropdown-menu {
    width:1000px;
    background-color:rgb(247, 245, 245);
}
li.parent-ul{
    
    display: flex;
}
li.parent-ul h2{
    margin-top: 12px;
    font-weight: 700;
    font-size: 13px;
}
li.parent-ul ul{
    margin: 0px 25px;
    list-style-type: none;
  
}
li.parent-ul ul li{
    padding: 6px;
}
li.parent-ul ul li a{
    text-decoration: none;
    color: black;
    font-size: 13px;
    
}
li.parent-ul ul li a:hover{
    text-decoration-line: underline;
}
.social-icons{
    position: relative;
}
.social-icons h3{
    font-weight: 400;
    font-size: 15px;
}
.icons{
    position: absolute;
    left: 200px;
    bottom:33px;     
    
}
.icons ul{
    display: flex;
    
    list-style-type: none;
}
.icons ul li {
    margin: 0px 12px;
}
.icons ul li a{
    
    text-decoration: none;
    color: black;
    font-size: 20px;
    padding: 4px;
    border-radius: 25%;
   

    
}
.icons ul li a:hover{
    background-color: black;
    color: white;
}
.footer-end h3{
    font-size: 15px;
}
.footer{
    --bs-bg-opacity: 1;
    background-color:rgba(239, 239, 240, .4)!important;
}
.bg-body-tertiary {
    --bs-bg-opacity: 1;
    background-color:rgba(239, 239, 240, .4)!important;
}
li.nav-item{
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0px 12px;
    font-size: 12px;
}
li.nav-item span{
    margin-bottom: 12px;
}
ul.footer-icon{
    display: flex;
    align-items: center;
}
ul.footer-icon li{
    margin: 14px;
    font-size: 10px;
}
.footer-last{
    
}
.footer-last ul{
    display: flex;
}
.footer-last ul li{
    margin: 0px 12px;
}
.right-footer ul{
    display: flex;
    justify-content: right;
    margin: 0px 20px;
    
}

.right-footer li{
    font-size: 14px;
    margin-left: 18px;
    list-style-type: none;
}
.right-footer li a{
    text-decoration: none;
    color: black;
}
.carousel-indicators [data-bs-target] {

    width: 15px;
    height: 15px;
    background-color: black;
   
    border-radius: 50%;
}
.carousel-indicators{
    position:absolute;
    top: 475px;
}
.carousel-indicators .active {
    opacity: 1;
    background-color: black;
}
.image-section{
    position: relative;
}
.carousel-control-next-icon {
    right:690px;
}
.carousel-control-prev-icon {
    left: 690px;
}
.carousel-control-next-icon, .carousel-control-prev-icon {
   
    top: 475px;
    position: absolute;
    background-color: black;
    padding: 20px;
    border-radius: 50%;
}


@media screen and (max-width:576px){
    
    
    .icon-linkedin2:before {
        content: "";
        
    }
    
.icons{
    position: unset;
    left: 200px;
    bottom:33px;     
    
}
}
@media screen and (max-width:576px){

    
    .carousel-control-next-icon {
        right:210px;
    }
    .carousel-control-prev-icon {
        left: 210px;
    }
    .carousel-control-next-icon, .carousel-control-prev-icon {
        top: 182px;
        position: absolute;
        background-color: black;
        padding: 20px;
        border-radius: 50%;
    }
    .carousel-indicators{
        position:absolute;
        top: 182px;
    }
    }
    
@media screen and (max-width:576px){

    
    .carousel-control-next-icon {
        right:200px;
    }
    .carousel-control-prev-icon {
        left: 200px;
    }
    .carousel-control-next-icon, .carousel-control-prev-icon {
        top: 180px;
        position: unset;
        background-color: black;
        padding: 20px;
        border-radius: 50%;
    }
    .carousel-indicators{
        position:absolute;
        top: 180px;
    }
    }
@media screen and (min-width:575px) and (max-width:767px){

    
.carousel-control-next-icon {
    right:300px;
}
.carousel-control-prev-icon {
    left: 300px;
}
.carousel-control-next-icon, .carousel-control-prev-icon {
    top: 240px;
    position: absolute;
    background-color: black;
    padding: 20px;
    border-radius: 50%;
}
.carousel-indicators{
    position:absolute;
    top: 240px;
}
}
@media screen and (min-width:768px) and (max-width:992px){

    
.carousel-control-next-icon {
    right:390px;
}
.carousel-control-prev-icon {
    left: 390px;
}
.carousel-control-next-icon, .carousel-control-prev-icon {
    top: 315px;
    position: absolute;
    background-color: black;
    padding: 20px;
    border-radius: 50%;
}
.carousel-indicators{
    position:absolute;
    top: 315px;
}
}
@media screen and (min-width:992px) and (max-width:1200px){

    
    .carousel-control-next-icon {
        right:480px;
    }
    .carousel-control-prev-icon {
        left: 480px;
    }
    .carousel-control-next-icon, .carousel-control-prev-icon {
        top: 375px;
        position: absolute;
        background-color: black;
        padding: 20px;
        border-radius: 50%;
    }
    .carousel-indicators{
        position:absolute;
        top: 375px;
    }
    }
    
@media screen and (min-width:992px) and (max-width:1200px){

    
    .carousel-control-next-icon {
        right:480px;
    }
    .carousel-control-prev-icon {
        left: 480px;
    }
    .carousel-control-next-icon, .carousel-control-prev-icon {
        top: 375px;
        position: absolute;
        background-color: black;
        padding: 20px;
        border-radius: 50%;
    }
    .carousel-indicators{
        position:absolute;
        top: 375px;
    }
    }
    
@media screen and (min-width:1200px) and (max-width:1400px){

    
    .carousel-control-next-icon {
        right:600px;
    }
    .carousel-control-prev-icon {
        left: 600px;
    }
    .carousel-control-next-icon, .carousel-control-prev-icon {
        top: 440px;
        position: absolute;
        background-color: black;
        padding: 20px;
        border-radius: 50%;
    }
    .carousel-indicators{
        position:absolute;
        top: 440px;
    }
    }
@media screen and (max-width:1440px) {
    li.parent-ul{
      display: block;
    }
    ul.dropdown-menu {
        width:300px;
    }
}
@media screen and (max-width: 639px) {
    
.right-footer ul{
    display: none;
    justify-content: unset;
    margin: unset;
    
}

.right-footer li{
word-break: break-all;
}
.footer-last ul{
    display: none;
}

}